# Varable and data type

##### 1. Create two variables, a and b, and swap their values without using a temporaryvariable

In [1]:

a=5
b=6
a,b=b,a
print("a:",a)
print("b:",b)

a: 6
b: 5

##### 2. Ask the user for an integer and convert it to a string. Then, print the data type of theconverted variable.

In [5]:

x=int(input("enter the number: "))
#print(x)
y=str(x)
print(type(y))

enter the number: 7
<class 'str'>

##### 3. Make a list of numbers and add a new number to the end of the list. Then, removethe first element and print the modified list.

In [6]:

l=[11,12,13,14,15,16]
l.append(17)
print(l)
l.remove(11)
print(l)

[11, 12, 13, 14, 15, 16, 17]
[12, 13, 14, 15, 16, 17]

##### 4. Assume a program that asks the user for their name and age. Then, use stringformatting to display a message like "Hello, [Name]! You are [Age] years old.

In [10]:

name=input("Enter your name: ")
age=int(input("Enter your age: "))
message=f"hello,{name}! you are {age} years old"
print(message)

Enter your name: nisha
Enter your age: 20
hello,nisha! you are 20 years old

##### 5. Create variables for two numbers and perform addition, subtraction, multiplication,and division operations. Print the results

In [13]:

a=12
b=11
add=a+b
print("Addition of numbers: ",addition)
sub=a-b
print("subtraction of numbers :",sub)
multi=a*b
print("multiplication of numbers: ",multi)
div=a/b
print("division of numbers: ",div)

Addition of numbers:  23
subtraction of numbers : 1
multiplication of numbers:  132
division of numbers:  1.0909090909090908

##### 6. Define a constant variable in Python and try to modify its value. Explain whether it'spossible or not

In [1]:

var=120
print(var)
var=130
print(var)

120
130

##### 7. Write a program that checks the data type of a variable and prints a message based on whether it's an integer, float, string, or another type.

In [3]:
num1 = 100
print(f"type of  {num1} is ",type(num1))
num2 = 3.40
print(f"type of {num2} is ",type(num2))
num3 = "python"
print(f"type of {num3} is ",type(num3))

type of  100 is  <class 'int'>
type of 3.4 is  <class 'float'>
type of python is  <class 'str'>

##### 8. Generate a list of squares of numbers from 1 to 10 using list comprehension.

In [14]:

sqr=[a**2 for a in range(1,11)]
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### 9. Create a program that attempts to convert a string to an integer. Handle any potentialerrors and print an error message.

In [19]:


x=input("enter the string value: ")
try:
    y=int(x)
    print("string converted to integer: ",y)
except:
    print("Error, enter a string value ")

enter the string value: nisha
Error, enter a string value

##### 10. Write a program with variables that follow both the snake_case and CamelCasenaming conventions. Print a message explaining the conventions.

In [20]:

snake_case="python"
CamelCase="python"

print(snake_case,"snake_case uses lowercase letters with underscore between words")
print(CamelCase,"CamelCase uses capitalizes each word of each word")

python snake_case uses lowercase letters with underscore between words
python CamelCase uses capitalizes each word of each word

# Input Methods

##### 1. Write a program that prints the user to enter their name, age, and city. Then, print out a message that includes this information.

In [21]:


name=input("Enter your name: ")
age=int(input("Enter your age: "))
city=input("Enter your city: ")
print(name)
print(age)
print(city)

Enter your name: nisha
Enter your age: 34
Enter your city: nagpur
nisha
34
nagpur

##### 2. Create a simple calculator program that takes two numbers and an operation (+, -, *,/) as input from the user and displays the result

In [24]:


num1=int(input("Enter the first nimber: "))
num2=int(input("Enter the second number: "))
op=input("Enter the operation symbol: ")
if op=="+":
    print(num1+num2)
elif op=="-":
    print(num1-num2)
elif op=="*":
    print(num1*num2)
elif op=="/":
    print(num1/num2)

Enter the first nimber: 3
Enter the second number: 5
Enter the operation symbol: /
0.6

##### 3. Define a program that asks the user to enter a number and determines whether it'seven or odd.

In [26]:


num=int(input("Enter the number: "))
if num %2==0:
    print("the number is even")
else:
    print("the number is odd")

Enter the number: 5
the number is odd

##### 4. Make a program that allows the user to convert between Celsius and Fahrenheittemperatures. Ask the user for the temperature value and the scale they are using.

In [1]:
celsius=float(input("Enter temperature in celsius: "))
fahrenheit=(celsius*9/5)+32
print("%.2f celsius is: %0.2f fahrenheit" %(celsius,fahrenheit))

Enter temperature in celsius: 23
23.00 celsius is: 73.40 fahrenheit

##### 5. Write a program that prompts the user to create a password. Check if the password meets certain criteria (e.g., minimum length, containing both letters and numbers).

In [6]:
password= input("enter your password ")
if len(password)==8 and any(char.isdigit() for char in password) and any(char.isalpha() for char in password):
    print("password is created ")
else:
    print("password not meet the criteria")

enter your password ##tyuio9
password is created

##### 6. Implement a number guessing game where the computer generates a randomnumber, and the user has to guess it. Provide feedback on whether the guess is too high or too low.

In [12]:
import random
def guessing_game():            
    num=random.randint(1,50)        #define range of numbers that can be genrated
    guess=None
    while guess != num:
        guess=int(input("guess a number between 1 to 50:"))
        if guess<num:
            print("too low")
        elif guess>num:
            print("too high")
    print("correct! you guessed the number")
guessing_game()

guess a number between 1 to 50:4
too low
guess a number between 1 to 50:44
too high
guess a number between 1 to 50:40
too high
guess a number between 1 to 50:38
too high
guess a number between 1 to 50:31
too high
guess a number between 1 to 50:20
too high
guess a number between 1 to 50:18
too high
guess a number between 1 to 50:12
too high
guess a number between 1 to 50:10
too high
guess a number between 1 to 50:9
too high
guess a number between 1 to 50:7
correct! you guessed the number

#### 7. Assume a program that asks the user for their height and weight, then calculates anddisplays their Body Mass Index.

In [31]:

height=float(input("Enter your height: "))
weight=float(input("Enter your weight: "))
bmi=weight/(height**2)
print("your body mass index is: ",bmi)

Enter your height: 5
Enter your weight: 40
your body mass index is:  1.6

#### 8. Ask the user to enter a positive integer and calculate its factorial (e.g., 5! = 5 x 4 x 3 x2 x 1 = 120).

In [17]:
num=int(input("Enter the number: "))
factorial=1
if num>=1:
    for i in range(1,num+1):
        factorial=factorial*i
    print("factorial of number: " ,factorial)

Enter the number: 5
factorial of number:  120

#### 9. Prompt the user to input a string and then display the reverse of that string.

In [5]:

a=input("Enter the string : ")
a[::-1]

Enter the string : manisha

'ahsinam'

##### 10. Find a program that asks the user for a number and generates the first "n" numbersin the Fibonacci sequence.

In [1]:

num=int(input("Enter the number: "))
a=0
b=1
for i in range(0,num):
    print(a,end=" ")
    c=a+b
    a=b
    b=c

Enter the number: 3
0 1 1

# Output Methods

##### 1. Python program that prints "Hello, World!" to the console.

In [12]:

print("Hello,World!")

Hello,World!

##### 2. Create a program that takes a number as input and prints its multiplication table from1 to 10.

In [13]:

num=int(input("Enter the number: "))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter the number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

##### 3. Write a program that counts down from a specified number to 1 and then prints"Blast-off!"

In [19]:

num=int(input("Enter the number: "))
for i in range(num,0,-1):
    print(i)
print("blast-off!")

Enter the number: 5
blast-off!

##### 4. Generate a program that prints a pyramid of stars, where the user provides thenumber of rows for the pyramid.

In [24]:

num=int(input("Enter the number: "))
for i in range(num):
    for j in range(i,num):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):    
        print("*",end=" ")
    print()

Enter the number: 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

##### 5. Ask the user for a number "n" and print a pattern of numbers from 1 to n in thefollowing way:

1
12
123
1234

In [25]:

num=int(input("Enter the number: "))
for i in range(num):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

Enter the number: 4
1
1 2
1 2 3
1 2 3 4

##### 6. Make a program that calculates and prints the sum of all numbers from 1 to auser-specified number

In [27]:

num=int(input("Enter the number: "))
sum_num=sum(range(1,num+1))
print(sum_num)

Enter the number: 3
6

##### 7. Ask the user to enter a character (e.g., '*') and a number. Print a square of thatcharacter with the given number of rows and columns

In [23]:

char=input("Enter the character you want: ")
num=int(input("Enter the number: "))
for i in range(num):
    print(char*num)

Enter the character you want: #
Enter the number: 7
#######
#######
#######
#######
#######
#######
#######

##### 8. Write a program that asks the user to enter a positive integer and then prints thefactorial of that number

In [29]:

num=int(input("Enter the number: "))
fact=1
if num<0:
    print("does not accept negative number")
elif num==0:
    print("factorial of 0 is 1")
else:
    for i in range(1,num+1):
        fact=fact*i
        print(fact)

Enter the number: 10
1
2
6
24
120
720
5040
40320
362880
3628800

##### 9. BMI calculator program (as in a previous question) and print the user's BMI category(e.g., underweight, normal, overweight, obese).

##### 10. Ask the user to input the principal amount, rate of interest, and time in years.Calculate and print the simple interest.

In [7]:

A =int(input("Enter the amount: "))
Y = int(input("Enter the number of year: "))
R = float(input("Enter the rate: "))
SI = (A*Y*R)/100
print("The simple interest is:", SI)

Enter the amount: 3000
Enter the number of year: 2
Enter the rate: 2.7
The simple interest is: 162.00000000000003

# String

##### 1. Write a Python program that takes a string as input and returns the reverse of thatstring.

In [9]:

a=input("Enter the string : ")
a[::-1]

Enter the string : string

'gnirts'

##### 2. Make a function that checks if a given string is a palindrome (reads the sameforwards and backwards).

In [13]:

a=input("Enter the string : ")
b=a[::-1]
if a==b:
    print("the string is palindrom")
else:
    print("the string is not palindrom")

Enter the string : nayan
the string is palindrom

##### 3. Write a function to count the number of vowels (a, e, i, o, u) in a given string.

In [2]:
a = input("enter the string: ")
vowels=0
for i in a:
    if(i=="a"or i=="e"or i=="i"or i=="o" or i=="u"):
        vowels=vowels+1
print("The number of vowels in the string are: ")
print(vowels)

enter the string: programming
The number of vowels in the string are:
3

##### 4. Given two strings, write a program to concatenate them without using the + operator.

In [17]:

a="Hello"
b="world"
c=" ".join([a,b])
print(c)

Hello world

##### 5. Given a string, write a program to extract a substring between a specified start andend index

In [5]:

string="python programming"
string1=string[7:14]
print(string)
print("substring: ",string1)

python programming
substring:  program

##### 6. Make a function that checks if two given strings are anagrams (contain the samecharacters in a different order).

In [9]:

string1=input("Enter the string: ")
string2=input("Enter the string: ")
a=sorted(string1)==sorted(string2)
print(a)

Enter the string: dad
Enter the string: add
True

##### 7. Find a function that calculates the frequency of each character in a string and returnsthe results as a dictionary.

In [4]:
string = "Google"
dict={}
for i in string:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1
print(dict)

{'G': 1, 'o': 2, 'g': 1, 'l': 1, 'e': 1}

##### 8. Write a program to remove duplicate characters from a string and return the stringwithout duplicates

In [10]:

string="programming"
p=" "
for i in string:
    if i not in p:
        p=p+i
print(p)

 progamin

##### 9. Given two strings, write a function that checks if one is a rotation of the other. Forexample, waterbottle is a rotation of erbottlewat.

##### 10. Assume a function to convert a given string into a title case, where the first letter ofeach word is capitalized.

In [11]:

string="basic python assignment"
string.title()

'Basic Python Assignment'

# List

##### 1. Create a list of your favorite fruits. Add a new fruit to the list, remove one fruit, andprint the modified list

In [16]:

fav_fruits=["orange","mango","strawberry","apple"]
print(fav_fruits)
fav_fruits.append("banana")

b=fav_fruits.remove("mango")
print(fav_fruits)

['orange', 'mango', 'strawberry', 'apple']
['orange', 'strawberry', 'apple', 'banana']

##### 2. Write a program that calculates the sum of all the numbers in a given list of integers.

In [18]:

num=[2,3,4,5,6,7,8,9]
print(num)
sum_num=sum(num)
print(sum_num)

[2, 3, 4, 5, 6, 7, 8, 9]
44

##### 3. Generate a list of the squares of the numbers from 1 to 10 using list comprehension.

In [20]:

sqr_list=[i**2 for i in range(1,11)]
print(sqr_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

##### 4. Make a list of numbers and use list comprehension to create a new list with only theeven numbers.

In [21]:

list1=[1,2,3,4,5,6,7,8,9,10]
x=[i for i in list1 if i%2==0]
print(x)

[2, 4, 6, 8, 10]

##### 5. Write a program that reverses a given list without using the reverse() method or slicing.

In [23]:

list1=[1,2,3,4,5,6,7,8,9,10]
print(list1)
list1[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##### 6.Make a list of words (strings) and sort them in alphabetical order. Print both theoriginal and sorted lists.

In [27]:

x=["flower","fruits","animals","fish"]
print(x)
x.sort()
print(x)

['flower', 'fruits', 'animals', 'fish']
['animals', 'fish', 'flower', 'fruits']

##### 7. Combine two lists into a single list without using the + operator. Print the merged list.

In [28]:

a=[1,2,3,4,5,6]
b=[11,12,13,14,15,16]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16]

##### 8. Given a list and a specific element, write a program to remove all occurrences of thatelement from the list.

In [30]:

list1=[1,2,3,3,4,5,2,3,6,3,7,3]
print(list1)
element=3
list2=[i for i in list1 if i!=element]
print(list2)

[1, 2, 3, 3, 4, 5, 2, 3, 6, 3, 7, 3]
[1, 2, 4, 5, 2, 6, 7]

##### 9. Create two lists of numbers and find the common elements between them. Print theresult.

In [32]:

num1=[1,1,2,3,4,5,6,7,8,3,2,]

num2=[2,1,3,4,5,6,2,2,3]

x=list(set(num1)& set(num2))
print(x)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 3, 2]
[2, 1, 3, 4, 5, 6, 2, 2, 3]
[1, 2, 3, 4, 5, 6]

##### 10. Take a list of words and print the first three and last three words without changingthe original list.

In [37]:

words=["orange","mango","strawberry","apple"]
print(words)
print("first three",words[:3])
print("last three",words[-3:])

['orange', 'mango', 'strawberry', 'apple']
first three ['orange', 'mango', 'strawberry']
last three ['mango', 'strawberry', 'apple']

# Tuple

##### 1. Create a tuple containing the names of your favorite colors.

In [38]:

colors=("blue","yellow","green","black","purple")
print(colors)

('blue', 'yellow', 'green', 'black', 'purple')

##### 2. Define a tuple with the days of the week. Write a program that asks the user for anumber (1 to 7) and prints the corresponding day of the week

In [40]:

day=int(input("Enter a number 1 to 7: "))
if day==1:
    print("is Monday")
elif day==2:
    print("is Tuesday")
elif day==3:
    print("is Wednesday")
elif day==4:
    print("is Thursday")
elif day==5:
    print("is friday")
elif day==6:
    print("is saturday")
elif day==7:
    print("is sunday")
else:
    print("plese enter number 1 to 7.")

Enter a number 1 to 7: 9
plese enter number 1 to 7.

##### 3. Make a tuple with the coordinates (x, y). Write a program that unpacks the tuple andprints the values of x and y separately.

In [21]:

names=("natasha","priya")
x,y=names
print(x)
print(y)

natasha
priya

##### 4. Introduce two tuples and concatenate them to form a new tuple. Print the resultingtuple.

In [1]:

num1=(1,2,3,4,5,5)
num2=(6,7,8,9,10)
f=num1+num2
print(f)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10)

##### 5. Make a tuple of numbers. Use slicing to extract a sub-tuple containing the middlethree numbers.

In [15]:

num1=(1,2,3,4,5,5,6,7,8)
a=num1[3:6]
print(num1)
print(a)

(1, 2, 3, 4, 5, 5, 6, 7, 8)
(4, 5, 5)

##### 6. Try to modify an element in a tuple and explain why it results in an error.

In [1]:

tuple1=(1,2,3,4,5,6,7,8)
tuple1[2]=5

TypeError: 'tuple' object does not support item assignment

##### 7. Create a tuple of mixed data types (e.g., numbers and strings). Use the count(method to count the number of occurrences of a specific element and the index() method to find its position.

In [7]:
t = (1,"first",2,"two",3,"three")
print(t)
index = t.index(2)
count = t.count("two")
print(index)
print(count)

(1, 'first', 2, 'two', 3, 'three')
2
1

##### 8. Define two tuples with numbers. Write a program that compares the two tuples andprints whether they are equal, not equal, or one is greater than the other.

In [20]:

t1=(1,2,13,4,5,1)
t2=(10,11,12,13,14,16,23)
print(t1)
print(t2)

if t1==t2:
    print("the tuple are equal")
elif t1<t2:
    print("the tuple 1 is less than tuple 2")
else:
    print("the tuple 1 is greater than tuple 2")

(1, 2, 13, 4, 5, 1)
(10, 11, 12, 13, 14, 16, 23)
the tuple 1 is less than tuple 2

##### 9. Create a function that accepts a variable number of arguments and returns them as atuple. Then, call the function with different numbers of arguments.

In [21]:

def x(*args):
    return tuple(args)

tuple1=x("riya","priya","ram")
tuple2=x(1,2,3,4,5)
tuple3=x(1,2,4,1.3,3.5,6.6)

print(tuple1,"first tuple")
print(tuple2,"second tuple")
print(tuple3,"third tuple")

('riya', 'priya', 'ram') first tuple
(1, 2, 3, 4, 5) second tuple
(1, 2, 4, 1.3, 3.5, 6.6) third tuple

##### 10. Make a tuple of names. Write a program that uses a loop to iterate through thenames and print each one

In [22]:

names=("riya","priya","sita","ram","gita")
for i in names:
    print(i)

riya
priya
sita
ram
gita

# Set

##### 1. Create a set containing the names of your favorite animal.

In [24]:

set1={"dog","cat","dear"}
print(set1)

{'dear', 'cat', 'dog'}

##### 2. Create two sets of integers and perform set operations to find their union,intersection, and symmetric difference. Print the results.

union:  {1, 2, 3, 4, 5, 7, 8, 9, 10}
intersection:  {2, 3}
sym_difference:  {1, 4, 5, 7, 8, 9, 10}
difference:  {1, 4, 5}

##### 3. Create a set of cities. Write a program that checks if a specific city is in the set andprints a message indicating its presence or absence.

In [3]:

cities={"nagpur","pune","mumbai","hydrabad"}
if "pune" in cities:
    print("yes")
else:
    print("no")

yes

##### 4. Create an empty set and add elements to it using the add() method. Print the set aftereach addition.

In [14]:

empty_set=set()
empty_set.add(11)
print(empty_set)
print()
empty_set.add("E")
print(empty_set)
print()
empty_set.add("python")
print(empty_set)
print()
empty_set.add("Eleven")
print(empty_set)

{11}

{11, 'E'}

{11, 'python', 'E'}

{11, 'python', 'E', 'Eleven'}

#### 5. Given a set of numbers, remove a specific number from the set. Print the modifiedset.

In [11]:

set1={1,2,34,5,6,66}
set1.remove(66)
print(set1)

{1, 2, 34, 5, 6}

##### 6. Make two sets of words (strings) and find the words that are unique to each set (notpresent in both sets). Print the results.

In [10]:

set1={"apple","banana","orange"}
set2={"apple","mango","orange"}
u=set1-set2
u1=set2-set1
print(u)
print(u1)

{'banana'}
{'mango'}

##### 7. Define two sets of numbers and determine if one set is a subset of the other. Print amessage indicating the relationship.

In [11]:

set1={1,2,3,4,5,6}
set2={7,8,9,10}
if set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is not subset of set1

##### 8. Make two sets and use the update() method to add the elements from one set toanother. Print the updated set

In [1]:

a={1,2,3,4,5,5,6}
b={7,8,9,10}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

##### 9. Introduce a set of numbers and use a set comprehension to create a new set withonly the even numbers.

In [3]:

a={1,2,3,4,5,6,7,8,9,10}
x={i for i in a if i%2==0}
print(x)

{2, 4, 6, 8, 10}

##### 10. Create a set of names. Write a program that uses a loop to iterate through the setand print each name.

In [4]:

names={"riya","priya","sameer","sita"}
for i in names:
    print(i)

riya
priya
sita
sameer

# Dictionary

##### 1. Create a dictionary that represents the information of a person, including name, age,and city.

In [1]:

info={"name":"Neha","age":"19","city":"Nagpur"}
print(info)

{'name': 'Neha', 'age': '19', 'city': 'Nagpur'}

##### 2. Define a dictionary with information about a book (title, author, and year ofpublication). Write a program to access and print these values

In [3]:

book_info={"title":"the catvher in the rye","author":"J.D. salinger","year":1951}
for i in book_info.items():
    print(i)

('title', 'the catvher in the rye')
('author', 'J.D. salinger')
('year', 1951)

##### 3. Make a dictionary with the names of cities as keys and their populations as values.Add a new city to the dictionary and update the population of an existing city.

In [6]:

cities_and_population={"pune":3124458,"Nagpur":2405665,"Nashik":1486053,"Wardha":106444,"Highnghat":101805}
print(cities_and_population)
cities_and_population["Mumbai"]=12442373
print()
cities_and_population["pune"]=3124868
print(cities_and_population)

{'pune': 3124458, 'Nagpur': 2405665, 'Nashik': 1486053, 'Wardha': 106444, 'Highnghat': 101805}

{'pune': 3124868, 'Nagpur': 2405665, 'Nashik': 1486053, 'Wardha': 106444, 'Highnghat': 101805, 'Mumbai': 12442373}

##### 4. Define a dictionary with keys representing months and values as the number of daysin each month. Write a program to print all the keys (months) in the dictionary.

In [9]:

month_days={"Jan":31,"Feb":28,"Mar":31,"Apr":30,"May":31,"June":30,"July":31,"Aug":31,"Sep":30,"oct":31,"Nov":30,"Dec":31}
for i in month_days:
    print(i)

Jan
Feb
Mar
Apr
May
June
July
Aug
Sep
oct
Nov
Dec

##### 5. Create a list of names and generate a dictionary where the keys are the names, andthe values are the lengths of the names.

In [10]:

names=["priya","supriya","nikita","sakshi"]
dic={"priya":len("priya"),"supriya":len("supriya"),"nikita":len("nikita"),"sakshi":len("sakshi")}
print(dic)

{'priya': 5, 'supriya': 7, 'nikita': 6, 'sakshi': 6}

##### 6. Make a dictionary with information about items and their prices. Write a program thatiterates through the dictionary and prints each item and its price

In [13]:

item_price={"Amul butter 500 g":275,"Nestle dairy whitener 15 g":9,"Amul kool badam flour milk 180 ml":22}
for i in item_price.items():
    print(i)

('Amul butter 500 g', 275)
('Nestle dairy whitener 15 g', 9)
('Amul kool badam flour milk 180 ml', 22)

##### 7. Write a program that checks if a specific key is present in a dictionary and prints amessage indicating its presence or absence.

In [6]:

dic={"city":"mumbai","name":"anand","grade":"A","name":"ashitosh","city":"nagpur","grade":"A"}
check=input("Enter a key to check: ")
if check in dic:
    print("the key is present")
else:
    print("key is not present")

Enter a key to check: grade
the key is present

##### 8. Define a dictionary with words as keys and their lengths as values. Sort the dictionarybased on the values and print the sorted results.

In [5]:

dic={"dog":len("dog"),"parot":len("parot"),"peacock":len("peacock"),"duck":len("duck"),"cat":len("cat")}
print(dic)
for values in sorted(dic.values()):
    print(values)

{'dog': 3, 'parot': 5, 'peacock': 7, 'duck': 4, 'cat': 3}
3
3
4
5
7

##### 9. Assume a dictionary representing the scores of students in a class. Write a programto print the student names, their scores, and calculate the class average.

In [22]:

stu_score={"sameer":70,"sneha":79,"sanket":80,"adrsh":71}
print(stu_score)
print()
for i in stu_score.items():
    print(i)
average=sum(stu_score.values())/len(stu_score)
print("average:", average)

{'sameer': 70, 'sneha': 79, 'sanket': 80, 'adrsh': 71}

('sameer', 70)
('sneha', 79)
('sanket', 80)
('adrsh', 71)
average: 75.0

##### 10. Create a nested dictionary to represent a library catalog with books and their details(title, author, and publication year). Write a program to access and print the informationfor a specific book

In [2]:

library={"to kill a mockingbird":{"harper lee":1960},"1948":{"George":1949},"the great gatsby":{"f.scott fitzgerald":1925}}
book_name=input("Enter the book name: ")
if book_name in library.keys():
    print(library[book_name])
else:
    print("the book is not found in the catalog")

Enter the book name: 1948
{'George': 1949}